<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Macro that adds the Panda arm + its ros2_control and mounts it to any parent link -->
  <xacro:macro name="add_panda_arm" params="parent_link base_xyz:='0 0 0' base_rpy:='0 0 0'">

    <xacro:include filename="$(find moveit_resources_panda_description)/urdf/panda.urdf.xacro" />

    <!-- Fixed joint from parent link to panda_link0 -->
    <joint name="panda_on_${parent_link}" type="fixed">
      <parent link="${parent_link}"/>
      <child  link="panda_link0"/>
      <origin xyz="${base_xyz}" rpy="${base_rpy}"/>
    </joint>

    <gazebo>
      <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
        <!-- <parameters>/home/reuben/moveit_ws/src/sonny_description/config/ros2_controllers.yaml</parameters> -->
        <parameters>/home/reuben/moveit_ws/src/panda_moveit_config/config/ros2_controllers.yaml</parameters>
      </plugin>
    </gazebo>


    <ros2_control name="panda_gz_system" type="system">
      <hardware>
        <plugin>gz_ros2_control/GazeboSimSystem</plugin>
      </hardware>

      <!-- Arm joints -->
      <joint name="panda_joint1">
        <command_interface name="position"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>

      <joint name="panda_joint2">
        <command_interface name="position"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>

      <joint name="panda_joint3">
        <command_interface name="position"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>

      <joint name="panda_joint4">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">-1.57</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>

      <joint name="panda_joint5">
        <command_interface name="position"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>

      <joint name="panda_joint6">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">1.57</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>

      <joint name="panda_joint7">
        <command_interface name="position"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>

      <!-- Optional: gripper joints  -->
      
      <joint name="panda_finger_joint1">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">0.04</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>
      <joint name="panda_finger_joint2">
        <!-- <command_interface name="position"/> -->       <!-- Caused major issues-->
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
    
    </ros2_control>

  </xacro:macro>

</robot>
